.App{
  min-height: 100vh;
  margin: 0; 
  padding: 0; 
  font-family: "Roboto";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

input{
  font-family: Roboto;
  font-size: 1em;
}

 .link-style{
  text-decoration: none;
  font-size: 1.2em;
  color: #e1e3e5;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #6f797d;
  padding: 10px; 
 }

 .link-style:hover{
   cursor: pointer; 
   color:#adadff;   
 }


.prev-next{  
  color: #a5a5a5;
   padding: 5px; 
  background-color: #273038; 
  width: 100px; 
  text-align: center; 
  border-radius: 5%; 
  list-style: none; 
  margin: 5%; 
  font-size: 1.2em; 
 }

 .prev-next-link{
   padding: 5px 15px;
 }


.prev-next:hover{
  cursor: pointer; 
  color: #e1e3e5;
 }

.active-page{
  font-size: 1.5em; 
  background-color: black;
 }

.paginate-container{
  margin: 2% auto; 
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
  width: max-content; 
 }

.page{
  list-style: none; 
  padding: 5px; 
 }

.page:hover{
  cursor: pointer; 
  color: #e1e3e5;
}

.page-link{
  color: #a5a5a5;
  padding: 2px;  
}

.page-link:focus{
  outline: none; 
}

.break{
  list-style: none;
}
