/* *, *::before, *::after{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
} */

.App{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  min-height: 100vh;

  font-family: "Roboto";
  background-color: #262626;
  box-sizing: border-box;
}

input{
  font-family: Roboto;
  font-size: 1em;
}


.focus:focus{
  outline: none;
  background-color: #eee !important;
  box-shadow: 0px 0px 4px 4px #7eaad6;
}

.hover:hover{
  cursor: pointer;
  color: #fff !important;
} 


.hover-blue:hover{
  cursor: pointer;
  color: #adadff !important; 
}




