
@font-face {
  font-family: "Roboto";
  src: 
    local("Roboto-Regular"),
    local("Roboto Regular"),
    url(./fonts/Roboto-Regular.ttf)
    format("truetype")
}

/* 
@font-face {
  font-family: 'Roboto-Medium';
  src: 
    local("Roboto-Medium"),
    local("Roboto Medium"),
    url(./fonts/Roboto-Medium.ttf),
    format("truetype")
} */


html, body{
  height: 100%;
  background: linear-gradient( #1d242b,#1b2229, #181d22, #181f21); 
}


